<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <h1><%= pokemonList.name %></h1><br>
        <img src="<%= pokemon.img %>"> <br>
        <a href = "/pokemon/<%=id%>/edit">Edit Pokemon </a>

    </body>
</html>